.headline {
  font-size: 20px;
  line-height: 24px;
  padding: 20px;
  margin: 0px;
  font-family: 'Cormorant', serif;
}

.text-container {
  width: 320px;
}

.dark {
  background-color: #000000;
  color: #FFFFFF;
}

.light {
  background-color: #F9F9F9;
}

.body {
  font-size: 18px;
  line-height: 27px;
  padding: 20px;
  font-family: 'Rubik', sans-serif;
}

p {
  margin-top: 0px;
}

/* referenced https://stackoverflow.com/questions/22271686/how-to-add-a-gradient-filter-in-the-image-in-css
*/
.feature-image {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.feature-image img {
  width: 320px;
  height: 180px;
  display: block;
}

.feature-image:after {
  opacity: 0.5;
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.feature-image.light-to-dark:after {
  background: linear-gradient(to bottom, #F9F9F9, #808080, #000000)
}

.feature-image.dark-to-light:after {
  background: linear-gradient(to top, #F9F9F9, #808080, #000000)
}
